<header class="banner">

  <div class="container">

    <a class="brand" href="/">
      <img class="img-fluid img-thumbnail shadow" src="/assets/images/headshot-square.jpg">
    </a>

    <div class="brand-text">

      <h2><a href="mailto:aaron.frey@gmail.com" target="_blank">Aaron Frey</a></h2>
      <h3>Full Stack Developer</h3>

      <nav class="nav-primary">

        <ul class="nav">
          {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a></li>
          {% endfor %}
        </ul>

      </nav>

    </div>

  </div>

</header>