/* Extra Small Devices, Phones */

// Plugins Page
.plugins-container {
  a {
    color: #000000;
    text-transform: uppercase;
    font-weight: 200;
  }
  .gallery {
    display: inline-block;
    margin: 15px 0 25px;
  }
}

// Resume Page
.resume-container {
  h1,
  h3,
  a {
    color: theme-color("primary");
  }
  p {
    font-size: 14px;
  }
  h1 {
    text-transform: uppercase;
  }
  hr {
    border-top: 1px solid theme-color("primary");
  }
  .info-section {
    margin-bottom: 20px;
  }
}

/* Small Devices (tablets, 768px and up) */

@media only screen and (min-width: $screen-sm-min) {
  .resume-container {
    ul.information li {
      border-right: 1px solid theme-color("primary");
      padding-right: 13px;
      margin-right: 10px;
      &:last-of-type {
        border-right: none;
      }
    }
  }
}

/* Medium Devices (desktops, 992px and up) */

@media only screen and (min-width: $screen-md-min) {}
