$screen-sm-min: 768px;
$screen-md-min: 992px;

// Glyphicons font path
$icon-font-path: "../fonts/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$theme-colors: (
  "primary": #CD3434
);
